@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'CloisterBlack';
    
    src: url('../fonte/Nunito-ExtraLight.ttf') format('opentype');
    
    font-weight: normal;
}
 
:root {

    /* azul 1
    --cor0: #3A4365;
    --cor1: #5C6480;
    --cor2: #787F96; */
 
    --cor0: #263056;
    --cor1: #3A4365;
    --cor2: #5C6480;

    --font-padrão: Arial, Helvetica, sans-serif;
    --font-destaque: 'CloisterBlack', cursive;
    --fonte-outra: 'Bebas Neue', cursive;
} 
*{
    margin: 0px;
    padding: 0px;
}
body { 
   background-color: gray ;
   font-family: var(--font-padrão);
}
a.externo::after{
    content: '\1F517\00a0' ;
  }
header {
    background-color: var(--cor0);
    min-height: 150px;
    text-align: center;
    padding: 40px;
}
header > h1 { 
    color: white;
    font-family: var(--font-destaque);
    font-size: 5em;
    font-size: normal;
    margin-bottom: 20px;
    text-shadow: 2px 4px 0px black;
}
header > p {
    font-family: var(--fonte-outra);
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 0px black;
    width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
}
nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 9px black;
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-outra);
    text-shadow: 2px 0px 4px black;
    font-size: 1.2em;
    padding-right: 10px;
}
nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor2);
    transition-duration: 1s;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(19, 18, 18, 0.137);
    box-shadow: 5px 5px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 
main h1 {
    color: black;
    font-family: var(--fonte-outra);
}
main h2 { 
    font-family: var(--fonte-outra);
    color: white;
    font-size: 1.3em;
    background-image: linear-gradient( to right,  var(--cor1 ), transparent);
    text-indent: 8px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2em;
}
main.fonte{
    font-family: var(--font-destaque);
}
main.fonte > h1{
    font-family: var(--font-destaque);
}
main > p.fonteII{
    font-family: var(--font-padrão);
}
main strong {
    color: var(--cor1);
    font-weight: bold;
    padding: 2px 6px;
}
main a {
    background-color: var(--cor1);
    text-decoration: none;
    color: lightskyblue;
    background-color: var(--cor0);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: white;
}

main img {
    width: 100%;
}  

div.video {
    background-color: var(--cor2);
    padding: 10px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 50%;
}
div.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}
    aside > h3 {
        background-color: var(--cor2);
        color: white;
        padding: 5px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px;
    }
aside > ul {
    list-style-type:'\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}
footer{ 
    background-color: var(--cor2);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 1px;
}
 footer  > p > a {
     color: white;
     font-weight: bolder;
     text-decoration: none;
 }
footer a:hover { 
    text-decoration: underline;
    color: var(--cor0);
}  
